.footerContainer
{

    .copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5%;
    }

    .redes{
        padding: 0% 15%;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
    }
}