*{
    text-align: justify;
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

button{
    background-color: #00F3BB;
    width: 85%;
    height: 48px;
    text-align: center;
    margin-top: 10%;
}